html {
    --colorLine: black;
    --colorHead: red;
    --stroke:100;
    --Line: 2;
    --Head: 5;
    --colorLineYusuf: yellow; 
    --colorHeadYusuf: gold;
    --colorLineArthur: darkred;
    --colorHeadArthur: crimson;
    --colorLineEames: lightgreen;
    --colorHeadEames: green;

    --grid-size: max(calc(100% / var(--grid-max-columns) - var(--grid-gap)), var(--grid-min-size));
    --grid-max-columns: 3;
    --grid-gap: 1rem;
    --grid-min-size: 9em;
    /*
M 0 .5 L 103.45 .5 L 103.45 203.87 L 65.83 203.87 L 65.83 359.57 L 92.49 359.57 L 91.84 542.26 L 51.73 542.26 L 51.73 698.07 L 426.79 698.07 L 426.79 .5 L 510.52 .5
              */
    /* --path1: path('M286.2 182.1l-.2.5-.2.5-.2.5-.3.5-.3.5-.3.5-.4.5-.4.5-.4.5-.5.4-.5.4-.5.4-.6.4-.6.4-.6.4-.7.4-.7.4-.7.3-.7.3-.8.3-.8.3-.8.3-.9.3-.9.3-.9.2-1 .2-1 .2-1 .2-1 .2-1.1.2-1.1.1-1.1.1-1.1.1-1.2.1-1.2.1-1.2.1h-8l-1.4-.1-1.4-.1-1.4-.1-1.5-.1-1.5-.1-1.5-.1-1.5-.2-1.6-.2-1.6-.2-1.6-.2-1.6-.2-1.6-.3-1.6-.3-1.7-.3-1.7-.3-1.7-.3-1.7-.4-1.7-.4-1.7-.4-1.8-.4-1.8-.4-1.8-.4-1.8-.5-1.8-.5-1.8-.5-1.8-.5-1.9-.5-1.9-.6-1.9-.6-1.9-.6-1.9-.6-1.9-.6-1.9-.6-1.9-.7-1.9-.7-1.9-.7-1.9-.7-2-.7-2-.8-2-.8-2-.8-2-.8-2-.8-2-.8-2-.9-2-.9-2-.9-2-.9-2-.9-2-.9-2-.9-2-1-2-1-2-1-2-1-2-1-2-1-2-1-2-1.1-2-1.1-2-1.1-1.9-1.1-1.9-1.1-1.9-1.1-1.9-1.1-1.9-1.1-1.9-1.2-1.9-1.2-1.9-1.2-1.9-1.2-1.9-1.2-1.9-1.2-1.8-1.2-1.8-1.2-1.8-1.2-1.8-1.2-1.8-1.3-1.8-1.3-1.8-1.3-1.8-1.3-1.7-1.3-1.7-1.3-1.7-1.3-1.7-1.3L97 128l-1.7-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.5-1.3-1.5-1.3-1.5-1.3-1.5-1.3-1.5-1.3-1.4-1.3-1.4-1.3-1.4-1.3-1.4-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.2-1.3-1.2-1.3-.7-1.9-1.2-1.3-1.1-1.3-1.1-1.3-1.1-1.3-1.1-1.3-1-1.3-1-1.3-1-1.3-1-1.3-.9-1.3-.9-1.2-.9-1.2-.9-1.2-.8-1.1-.8-1.2-.8-1.2-.8-1.2-.6-1.2-.7-1.2-.7-1.1-.6-1.1-.6-1.1-.6-1.2-.6-1-.5-1.1-.5-1.1-.5-1.1-.4-1-.4-1-.4-1-.4-1-.3-1-.3-1-.3-.9-.3-.9-.2-.9-.2-.9-.2-.9-.1-.8-.2-.8v-.8l-.1-.8V47.1l.1-.7.1-.7.1-.6.2-.6.2-.6.2-.6.2-.5.3-.5.3-.5.3-.5.3-.5.4-.4.4-.4.4-.4.4-.4.5-.3.5-.3.5-.3.5-.3.6-.2.6-.2.6-.2.6-.2.6-.1.7-.1.7-.1H50.1l.8.1.8.1.8.1.8.1.9.2.9.2.9.2.9.3.9.3 1 .3 1 .3 1 .4 1 .4 1 .4 1 .4 1.1.5 1.1.5 1.1.5 1.1.6 1.1.6 1.1.6 1.1.6 1.1.7 1.2.7 1.2.7 1.2.8 1.2.8 1.2.8 1.2.8 1.2.9 1.2.9 1.2.9 1.3.9 1.3 1 1.3 1 1.3 1 1.3 1 1.3 1.1 1.3 1.1 1.3 1.1 1.3 1.1 1.3 1.2 1.3 1.2 1.3 1.2 1.3 1.2 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.4 1.3 1.4 1.3 1.4 1.3 1.4 1.3 1.5 1.3 1.5 1.3 1.5 1.3 1.5 1.3 1.5 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.8 1.3 1.8 1.3 1.8 1.3 1.8 1.2 1.8 1.2 1.8 1.2 1.8 1.2 1.8 1.2 1.9 1.2 1.9 1.2 1.9 1.2 1.9 1.2 1.9 1.2 1.9 1.1 1.9 1.1 1.9 1.1 1.9 1.1 1.9 1.1 1.9 1.1 2 1.1 2 1.1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 .9 2 .9 2 .9 2 .9 2 .9 2 .9 2 .9 2 .8 2 .8 2 .8 2 .8 2 .8 2 .8 2 .7 2 .7 1.9.7 1.9.7 1.9.7 1.9.6 1.9.6 1.9.6 1.9.6 1.9.6 1.9.6 1.9.5 1.9.5 1.8.5 1.8.5 1.8.5 1.8.4 1.8.4 1.8.4 1.8.4 1.7.4 1.7.4 1.7.3 1.7.3 1.7.3 1.7.3 1.6.3 1.6.2 1.6.2 1.6.2 1.6.2 1.6.2 1.5.1 1.5.1 1.5.1 1.5.1 1.4.1 1.4.1 1.4V260.9l-.1 1.2-.1 1.2-.1 1.2-.1 1.1-.1 1.1-.1 1.1-.2 1.1-.2 1-.2 1-.2 1-.2 1-.2.9-.3.9-.3.9-.3.8-.3.8-.3.8-.3.7-.3.7-.4.7-.4.7-.4.6-.4.6-.4.6-.4.5-.4.5-.4.5-.5.4-.5.4-.5.4-.5.3-.5.3-.5.3-.5.2-.5.2-.5.2-.5.1-.6.1-.6.1H178.2l-.6-.1-.6-.1-.6-.1-.6-.2-.6-.2-.6-.2-.6-.3-.6-.3-.6-.3-.6-.4-.6-.4-.7-.4-.7-.5-.7-.5-.7-.5-.7-.6-.7-.6-.7-.6-.7-.7-.7-.7-.7-.7-.7-.8-.7-.8-.7-.8-.7-.9-.7-.9-.7-.9-.7-1-.7-1-.7-1-.7-1.1-.7-1.1-.7-1.1-.7-1.2-.7-1.2-.7-1.2-.6-1.2-.6-1.3-.6-1.3-.6-1.3-.6-1.4-.6-1.4-.6-1.4-.6-1.4-.6-1.5-.6-1.5-.6-1.5-.6-1.5-.6-1.6-.6-1.6-.6-1.6-.6-1.6-.6-1.7-.5-1.7-.5-1.7-.5-1.7-.5-1.8-.5-1.8-.5-1.8-.5-1.8-.5-1.8-.5-1.9-.5-1.9-.5-1.9-.4-1.9-.4-1.9-.4-1.9-.4-2-.4-2-.4-2-.4-2-.4-2-.4-2-.3-2.1-.3-2.1-.3-2.1-.3-2.1-.3-2.1-.3-2.1-.3-2.1-.3-2.1-.2-2.1-.2-2.2-.2-2.2-.2-2.2-.2-2.2-.2-2.2-.2-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2V136.3l.1-2.2.1-2.2.1-2.2.1-2.2.1-2.2.1-2.2.1-2.2.2-2.2.2-2.2.2-2.2.2-2.2.2-2.2.2-2.2.2-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.4-2 .4-2 .4-2 .4-2 .4-2 .4-2 .4-1.9.4-1.9.4-1.9.5-1.9.5-1.9.5-1.9.5-1.8.5-1.8.5-1.8.5-1.8.5-1.8.5-1.7.5-1.7.5-1.7.6-1.7.6-1.6.6-1.6.6-1.6.6-1.6.6-1.5.6-1.5.6-1.5.6-1.5.6-1.4.6-1.4.6-1.4.6-1.4.6-1.3.6-1.3.6-1.3.6-1.2.7-1.2.7-1.2.7-1.2.7-1.1.7-1.1.7-1.1.7-1 .7-1 .7-1 .7-.9.7-.9.7-.9.7-.8.7-.8.7-.8.7-.7.7-.7.7-.7.7-.6.7-.6.7-.6.7-.5.7-.5.7-.5.7-.4.6-.4.6-.4.6-.3.6-.3.6-.3.6-.2.6-.2.6-.2.6-.1.6-.1.6-.1H180l.6.1.6.1.5.1.5.2.5.2.5.2.5.3.5.3.5.3.5.4.5.4.5.4.4.5.4.5.4.5.4.6.4.6.4.6.4.7.4.7.3.7.3.7.3.8.3.8.3.8.3.9.3.9.2.9.2 1 .2 1 .2 1 .2 1 .2 1.1.1 1.1.1 1.1.1 1.1.1 1.2.1 1.2.1 1.2v8l-.1 1.4-.1 1.4-.1 1.4-.1 1.5-.1 1.5-.1 1.5-.2 1.5-.2 1.6-.2 1.6-.2 1.6-.2 1.6-.3 1.6-.3 1.6-.3 1.7-.3 1.7-.3 1.7-.4 1.7-.4 1.7-.4 1.7-.4 1.8-.4 1.8-.4 1.8-.5 1.8-.5 1.8-.5 1.8-.5 1.8-.5 1.9-.6 1.9-.6 1.9-.6 1.9-.6 1.9-.6 1.9-.6 1.9-.7 1.9-.7 1.9-.7 1.9-.7 1.9-.7 2-.8 2-.8 2-.8 2-.8 2-.8 2-.8 2-.9 2-.9 2-.9 2-.9 2-.9 2-.9 2-.9 2-1 2-1 2-1 2-1 2-1 2-1 2-1 2-1.1 2-1.1 2-1.1 2-1.1 1.9-1.1 1.9-1.1 1.9-1.1 1.9-1.1 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.8-1.2 1.8-1.2 1.8-1.2 1.8-1.3 1.8-1.3 1.8-1.3 1.8-1.3 1.8-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.5-1.3 1.5-1.3 1.5-1.3 1.5-1.3 1.5-1.3 1.4-1.3 1.4-1.3 1.4-1.3 1.4-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.2-1.3 1.2-1.3 1.2-1.3 1.2-1.3 1.1-1.3 1.1-1.3 1.1-1.3 1.1-1.3 1-1.3 1-1.3 1-1.3 1-1.3.9-1.2.9-1.2.9-1.2.9-1.2.8-1.2.8-1.2.8-1.2.8-1.2.7-1.2.7-1.1.7-1.1.6-1.1.6-1.1.6-1.1.6-1.1.5-1.1.5-1.1.5-1 .4-1 .4-1 .4-1 .4-1 .3-1 .3-.9.3-.9.3-.9.2-.9.2-.9.2-.8.1-.8.1-.8.1-.8.1H47.2l-.7-.1-.7-.1-.6-.1-.6-.2-.6-.2-.6-.2-.6-.2-.5-.3-.5-.3-.5-.3-.5-.3-.4-.4-.4-.4-.4-.4-.4-.4-.3-.5-.3-.5-.3-.5-.3-.5-.2-.5-.2-.6-.2-.6-.2-.6-.1-.6-.1-.7-.1-.7V240.2l.1-.8.1-.8.1-.8.1-.8.2-.9.2-.9.2-.9.3-.9.3-.9.3-1 .3-1 .4-1 .4-1 .4-1 .4-1 .5-1.1.5-1.1.5-1.1.6-1.1.6-1.1.6-1.1.6-1.1.7-1.1.7-1.2.7-1.2.8-1.2.8-1.2.8-1.2.8-1.2.9-1.2.9-1.2.9-1.2.9-1.3 1-1.3 1-1.3 1-1.3 1-1.3 1.1-1.3 1.1-1.3 1.1-1.3 1.1-1.3 1.2-1.3 1.2-1.3 1.2-1.3 1.2-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.4-1.3 1.4-1.3 1.4-1.3 1.4-1.3 1.5-1.3 1.5-1.3 1.5-1.3 1.5-1.3 1.5-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.6-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.7-1.3 1.8-1.3 1.8-1.3 1.8-1.3 1.8-1.3 1.8-1.2 1.8-1.2 1.8-1.2 1.8-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.2 1.9-1.1 1.9-1.1 1.9-1.1 1.9-1.1 1.9-1.1 2-1.1 2-1.1 2-1.1 2-1 2-1 2-1 2-1 2-1 2-1 2-1 2-.9 2-.9 2-.9 2-.9 2-.9 2-.9 2-.9 2-.8 2-.8 2-.8 2-.8 2-.8 2-.8 2-.7 1.9-.7 1.9-.7 1.9-.7 1.9-.7 1.9-.6 1.9-.6 1.9-.6 1.9-.6 1.9-.6 1.9-.6 1.9-.5 1.8-.5 1.8-.5 1.8-.5 1.8-.5 1.8-.4 1.8-.4 1.8-.4 1.7-.4 1.7-.4 1.7-.4 1.7-.3 1.7-.3 1.7-.3 1.6-.3 1.6-.3 1.6-.2 1.6-.2 1.6-.2 1.6-.2 1.5-.2 1.5-.1 1.5-.1 1.5-.1 1.4-.1 1.4-.1 1.4-.1H260.9l1.2.1 1.2.1 1.2.1 1.1.1 1.1.1 1.1.1 1.1.2 1 .2 1 .2 1 .2 1 .2.9.2.9.3.9.3.8.3.8.3.8.3.7.3.7.3.7.4.7.4.6.4.6.4.6.4.5.4.5.4.5.4.4.5.4.5.4.5.3.5.3.5.3.5.2.5.2.5.2.5.1.5.1.6.1.6V112.1l-.1.6-.1.6-.1.6-.2.6-.2.6-.2.6-.3.6-.3.6-.3.6-.4.6-.4.6-.4.7-.5.7-.5.7-.5.7-.6.7-.6.7-.6.7-.7.7-.7.7-.7.7-.8.7-.8.7-.8.7-.9.7-.9.7-.9.7-1 .7-1 .7-1 .7-1.1.7-1.1.7-1.1.7-1.2.7-1.2.7-1.2.7-1.2.6-1.3.6-1.3.6-1.3.6-1.4.6-1.4.6-1.4.6-1.4.6-1.5.6-1.5.6-1.5.6-1.5.6-1.6.6-1.6.6-1.6.6-1.6.6-1.7.6-1.7.5-1.7.5-1.7.5-1.8.5-1.8.5-1.8.5-1.8.5-1.8.5-1.9.5-1.9.5-1.9.5-1.9.4-1.9.4-1.9.4-2 .4-2 .4-2 .4-2 .4-2 .4-2 .4-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.3-2.1.2-2.2.2-2.2.2-2.2.2-2.2.2-2.2.2-2.2.2-2.2.1-2.2.1-2.2.1-2.2.1-2.2.1-2.2.1-2.2.1H136.3l-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2-.1-2.2-.2-2.2-.2-2.2-.2-2.2-.2-2.2-.2-2.2-.2-2.1-.2-2.1-.3-3.5-3.6-2.1-.3-2.1-.3-2.1-.3-2.1-.3-2.1-.3-2.1-.3-2-.4-2-.4-2-.4-2-.4-2-.4-2-.4-1.9-.4-1.9-.4-1.9-.4-1.9-.5-1.9-.5-1.9-.5-1.8-.5-1.8-.5-1.8-.5-1.8-.5-1.8-.5-1.7-.5-1.7-.5-1.7-.5-1.7-.6-1.6-.6-1.6-.6-1.6-.6-1.6-.6-1.5-.6-1.5-.6-1.5-.6-1.5-.6-1.4-.6-1.4-.6-1.4-.6-1.4-.6-1.3-.6-1.3-.6-1.3-.6-1.2-.6-1.2-.7-1.2-.7-1.2-.7-1.1-.7-1.1-.7-1.1-.7-1-.7-1-.7-1-.7-.9-.7-.9-.7-.9-.7-.8-.7-.8-.7-.8-.7-.7-.7-.7-.7-.7-.7-.6-.7-.6-.7-.6-.7-.5-.7-.5-.7-.5-.7-.4-.7-.4-.6-.4-.6-.3-.6-.3-.6-.3-.6-.2-.6-.2-.6-.2-.6-.1-.6-.1-.6-.1-.6V107l.1-.6.1-.6.1-.5.2-.5.2-.5.2-.5.3-.5.3-.5.3-.5.4-.5.4-.5.4-.5.5-.4.5-.4.5-.4.6-.4.6-.4.3.2.7-.4.6-.3.7-.3.7-.3.8-.3.8-.3.8-.3.9-.3.9-.3.9-.2 1-.2 1-.2 1-.2 1-.2 1.1-.2 1.1-.1 1.1-.1 1.1-.1 1.2-.1 1.2-.1 1.2-.1h8l1.4.1 1.4.1 1.4.1 1.5.1 1.5.1 1.5.1 1.5.2 1.6.2 1.6.2 1.6.2 1.6.2 1.6.3 1.6.3 1.7.3 1.7.3 1.7.3 1.7.4 1.7.4 1.7.4 1.8.4 1.8.4 1.8.4 1.8.5 1.8.5 1.8.5 1.8.5 1.9.5 1.9.6 1.9.6 1.9.6 1.9.6 1.9.6 1.9.6 1.9.7 1.9.7 1.9.7 1.9.7 2 .7 2 .8 2 .8 2 .8 2 .8 2 .8 2 .8 2 .9 2 .9 2 .9 2 .9 2 .9 2 .9 2 .9 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1.1 2 1.1 2 1.1 1.9 1.1 1.9 1.1 1.9 1.1 1.9 1.1 1.9 1.1 1.9 1.2 1.9 1.2 1.9 1.2 1.9 1.2 1.9 1.2 1.9 1.2 1.8 1.2 1.8 1.2 1.8 1.2 1.8 1.2 1.8 1.3 1.8 1.3 1.8 1.3 1.8 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.7 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.6 1.3 1.5 1.3 1.5 1.3 1.5 1.3 1.5 1.3 1.5 1.3 1.4 1.3 1.4 1.3 1.4 1.3 1.4 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.3 1.2 1.3 1.2 1.3 1.2 1.3 1.2 1.3 1.1 1.3 1.1 1.3 1.1 1.3 1.1 1.3 1 1.3 1 1.3 1 1.3 1 1.3.9 1.3.9 1.2.9 1.2.9 1.2.8 1.2.8 1.2.8 1.2.8 1.2.7 1.2.7 1.2.7 1.1.6 1.1.6 1.1.6 1.1.6 1.1.5 1.1.5 1.1.5 1.1.4 1 .4 1 .4 1 .4 1 .3 1 .3 1 .3.9.3.9.2.9.2.9.2.9.1.8.1.8.1.8.1.8V240.5l-.1.7-.1.7-.1.6-.2.6-.2.6-.2.6-.2.5-.3.5-.3.5-.3.5-.3.5-.4.4-.4.4-.4.4-.4.4-.5.3-.5.3-.5.3-.5.3-.5.2-.6.2-.6.2-.6.2-.6.1-.7.1-.7.1H238.4l-.8-.1-.8-.1-.8-.1-.8-.1-.9-.2-.9-.2-.9-.2-.9-.3-.9-.3-1-.3-1-.3-1-.4-1-.4-1-.4-1-.4-1.1-.5-1.1-.5-1.1-.5-1.1-.6-1.1-.6-1.1-.6-1.1-.6-1.1-.7-1.2-.7-1.2-.7-1.2-.8-1.2-.8-1.2-.8-1.2-.8-1.2-.9-1.2-.9-1.2-.9-1.3-.9-1.3-1-1.3-1-1.3-1-1.3-1-1.3-1.1-1.3-1.1-1.3-1.1-1.3-1.1-1.3-1.2-1.3-1.2-1.3-1.2-1.3-1.2-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.3-1.4-1.3-1.4-1.3-1.4-1.3-1.4-1.3-1.5-1.3-1.5-1.3-1.5-1.3-1.5-1.3-1.5-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.6-1.3-1.7-1.3-1.7-1.3-1.7-1.3-1.7-1.3-1.7-1.3-1.7-1.3-1.8-1.3-1.8-1.3-1.8-1.3-1.8-1.2-1.8-1.2-1.8-1.2-1.8-1.2-1.8-1.2-1.9-1.2-1.9-1.2-1.9-1.2-1.9-1.2-1.9-1.2-1.9-1.1-1.9-1.1-1.9-1.1-1.9-1.1-1.9-1.1-1.9-1.1-2-1.1-2-1.1-2-1-2-1-2-1-2-1-2-1-2-1-2-1-2-.9-2-.9-2-.9-2-.9-2-.9-2-.9-2-.9-2-.8-2-.8-2-.8-2-.8-2-.8-2-.8-2-.7-2-.7-1.9-.7-1.9-.7-1.9-.7-1.9-.6-1.9-.6-1.9-.6-1.9-.6-1.9-.6-1.9-.6-1.9-.5-1.9-.5-1.8-.5-1.8-.5-1.8-1.4-.9-.4-1.8-.4-1.8-.4-1.8-.4-1.7-.4-1.7-.4-1.7-.3-1.7-.3-1.8-.3-1.7-.3-1.6-.3-1.6-.2-1.6-.2-1.6-.2-1.6-.2-1.6-.2-1.5-.1-1.5-.1-1.5-.1-1.5-.1-1.4-.1-1.4-.1-1.4V27.5l.1-1.2.1-1.2.1-1.2.1-1.1.1-1.1.1-1.1.2-1.1.2-1 .2-1 .2-1 .2-1 .2-.9.3-.9.3-.9.3-.8.3-.8.3-.8.3-.7.3-.7.4-.7.4-.6.4-.6.4-.6.4-.6.4-.5.4-.5.4-.5.5-.4.5-.4.5-.4.5-.3.5-.3.5-.3.5-.2.5-.2.5-.2.5-.1.6-.1.6-.1H109.4l.6.1.6.1.6.1.6.2.6.2.6.2.6.3.6.3.6.3.6.4.6.4.7.4.7.5.7.5.7.5.7.6.7.6.7.6.7.7.7.7.7.7.7.8.7.8.7.8.7.9.7.9.7.9.7 1 .7 1 .7 1 .7 1.1.7 1.1.7 1.1.7 1.2.7 1.2.7 1.2.6 1.2.6 1.3.6 1.3.6 1.3.6 1.4.6 1.4.6 1.4.6 1.4.6 1.5.6 1.5.6 1.5.6 1.5.6 1.6.6 1.6.6 1.6.6 1.6.6 1.7.5 1.7.5 1.7.5 1.7.5 1.8.5 1.8.5 1.8.5 1.8.5 1.8.5 1.9.5 1.9.5 1.9.4 1.9.4 1.9.4 1.9.4 2 .4 2 .4 2 .4 2 .4 2 .4 2 .3 2.1.3 2.1.3 2.1.3 2.1.3 2.1.3 2.1.3 2.1.3 2.1.2 2.1.2 2.2.2 2.2.2 2.2.2 2.2.2 2.2.2 2.2.1 2.2.1 2.2.1 2.2.1 2.2.1 2.2.1 2.2.1 2.2V152.2l-.1 2.2-.1 2.2-.1 2.2-.1 2.2-.1 2.2-.1 2.2-.1 2.2-.2 2.2-.2 2.2-.2 2.2-.2 2.2-.2 2.2-.2 2.2-.2 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.4 2-.4 2-.4 2-.4 2-.4 2-.4 2-.4 1.9-.4 1.9-.4 1.9-.5 1.9-.5 1.9-.5 1.9-.5 1.8-.5 1.8-.5 1.8-.5 1.8-.5 1.8-.5 1.7-.5 1.7-.5 1.7-.6 1.7-.6 1.6-.6 1.6-.6 1.6-.6 1.6-.6 1.5-.6 1.5-.6 1.5-.6 1.5-.6 1.4-.6 1.4-.6 1.4-.6 1.4-.6 1.3-.6 1.3-.6 1.3-.6 1.2-.7 1.2-.7 1.2-.7 1.2-.7 1.1-.7 1.1-.7 1.1-.7 1-.7 1-.7 1-.7.9-.7.9-.7.9-.7.8-.7.8-.7.8-.7.7-.7.7-.7.7-.7.6-.7.6-.7.6-.7.5-.7.5-.7.5-.7.4-.6.4-.6.4-.6.3-.6.3-.6.3-.6.2-.6.2-.6.2-.6.1-.6.1-.6.1H107.6l-.6-.1-.6-.1-.5-.1-.5-.2-.5-.2-.5-.2-.5-.3-.5-.3-.5-.3-.5-.4-.5-.4-.5-.4-.4-.5-.4-.5-.4-.5-.4-.6-.4-.6-.4-.6-.4-.7-.4-.7-.3-.7-.3-.7-.3-.8-.3-.8-.3-.8-.3-.9-.3-.9-.2-.9-.2-1-.2-1-.2-1-.2-1-.2-1.1-.1-1.1-.1-1.1-.1-1.1-.1-1.2-.1-1.2-.1-1.2v-8l.1-1.4.1-1.4.1-1.4.1-1.5.1-1.5.1-1.5.2-1.5.2-1.6.2-1.6.2-1.6.2-1.6.3-1.6.3-1.6.3-1.7.3-1.7.3-1.7.4-1.7.4-1.7.4-1.7.4-1.8.4-1.8.4-1.8.5-1.8.5-1.8.5-1.8.5-1.8.5-1.9.6-1.9.6-1.9.6-1.9.6-1.9.6-1.9.6-1.9.7-1.9.7-1.9.7-1.9.7-1.9.7-2 .8-2 .8-2 .8-2 .8-2 .8-2 .8-2 .9-2 .9-2 .9-2 .9-2 .9-2 .9-2 .9-2 1-2 1-2 1-2 1-2 1-2 1-2 1-2 1.1-2 1.1-2 1.1-2 1.1-1.9 1.1-1.9 1.1-1.9 1.1-1.9 1.1-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.8 1.2-1.8 1.2-1.8 1.2-1.8 1.3-1.8 1.3-1.8 1.3-1.8 1.3-1.8 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.5 1.3-1.5 1.3-1.5 1.3-1.5 1.3-1.5 1.3-1.4 1.3-1.4 1.3-1.4 1.3-1.4 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.2 1.3-1.2 1.3-1.2 1.3-1.2 1.3-1.1 1.3-1.1 1.3-1.1 1.3-1.1 1.3-1 1.3-1 1.3-1 1.3-1 1.3-.9 1.2-.9 1.2-.9 1.2-.9 1.2-.8 1.2-.8 1.2-.8 1.2-.8 1.2-.7 1.2-.7 1.1-.7 1.1-.6 1.1-.6 1.1-.6 1.1-.6 1.1-.5 1.1-.5 1.1-.5 1-.4 1-.4 1-.4 1-.4 1-.3 1-.3.9-.3.9-.3.9-.2.9-.2.9-.2.8-.1.8-.1.8-.1.8-.1H240.4l.7.1.7.1.6.1.6.2.6.2.6.2.5.2.5.3.5.3.5.3.5.3.4.4.4.4.4.4.4.4.3.5.3.5.3.5.3.5.2.5.2.6.2.6.2.6.1.6.1.7.1.7V48.3l-.1.8-.1.8-.1.8-.1.8-.2.9-.2.9-.2.9-.3.9-.3.9-.3 1-.3 1-.4 1-.4 1-.4 1-.4 1-.5 1.1-.5 1.1-.5 1.1-.6 1.1-.6 1.1-.6 1.1-.6 1.1-.7 1.1-.7 1.2-.7 1.2-.8 1.2-.8 1.2-.8 1.2-.8 1.2-.9 1.2-.9 1.2-.9 1.2-.9 1.3-1 1.3-1 1.3-1 1.3-1 1.3-1.1 1.3-1.1 1.3-1.1 1.3-1.1 1.3-1.2 1.3-1.2 1.3-1.2 1.3-1.2 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.3 1.3-1.4 1.3-1.4 1.3-1.4 1.3-1.4 1.3-1.5 1.3-1.5 1.3-1.5 1.3-1.5 1.3-1.5 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.6 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.7 1.3-1.8 1.3-1.8 1.3-1.8 1.3-1.8 1.3-1.8 1.2-1.8 1.2-1.8 1.2-1.8 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.2-1.9 1.1-1.9 1.1-1.9 1.1-1.9 1.1-1.9 1.1-2 1.1-2 1.1-2 1.1-2 1-2 1-2 1-2 1-2 1-2 1-2 1-2 .9-2 .9-2 .9-2 .9-2 .9-2 .9-2 .9-2 .8-2 .8-2 .8-2 .8-2 .8-2 .8-2 .7-1.9.7-1.9.7-1.9.7-1.9.7-1.9.6-1.9.6-1.9.6-1.9.6-1.9.6-1.9.6-1.9.5-1.8.5-1.8.5-1.8.5-1.8.5-1.8.4-1.8.4-1.8.4-1.7.4-1.7.4-1.7.4-1.7.3-1.7.3-1.7.3-1.6.3-1.6.3-1.6.2-1.6.2-1.6.2-1.6.2-1.5.2-1.5.1-1.5.1-1.5.1-1.4.1-1.4.1-1.4.1H26.6l-1.2-.1-1.2-.1-1.2-.1-1.1-.1-1.1-.1-1.1-.1-1.1-.2-1-.2-1-.2-1-.2-1-.2-.9-.2-.9-.3-.9-.3-.8-.3-.8-.3-.8-.3-.7-.3.2 1.8-.7-.4-.6-.3-.6-.4-.6-.4-.6-.4-.5-.4-.5-.4-.5-.4-.4-.5-.4-.5-.4-.5-.2-.4-.3-.5-.3-.5-.2-.5-.2-.6-.2-.5-.1-.5-.1-.6-.1-.6V178.6l.1-.6.1-.6.1-.6.2-.6.2-.6.2-.6.3-.6.3-.6.3-.6.4-.6.4-.6.4-.7.5-.7.5-.7.5-.7.6-.7.6-.7.6-.7.7-.7.7-.7.7-.7.8-.7.8-.7.8-.7.9-.7.9-.7.9-.7 1-.7 1-.7 1-.7 1.1-.7 1.1-.7 1.1-.7 1.2-.7 1.2-.7 1.2-.7 1.2-.6 1.3-.6 1.3-.6 1.3-.6 1.4-.6 1.4-.6 1.4-.6 1.4-.6 1.5-.6 1.5-.6 1.5-.6 1.5-.6 1.6-.6 1.6-.6 1.6-.6 1.6-.6 1.7-.6 1.7-.5 1.7-.5 1.7-.5 1.8-.5 1.8-.5 1.8-.5 1.8-.5 1.8-.5 1.9-.5 1.9-.5 1.9-.5 1.9-.4 1.9-.4 1.9-.4 2-.4 2-.4 2-.4 2-.4 2-.4 2-.4 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.3 2.1-.2 2.2-.2 2.2-.2 2.2-.2 2.2-.2 2.2-.2 2.2-.2 2.2-.1 2.2-.1 2.2-.1 2.2-.1 2.2-.1 2.2-.1 2.2-.1H152.3l2.2.1 2.2.1 2.2.1 2.2.1 2.2.1 2.2.1 2.2.1 2.2.2 2.2.2 2.2.2 2.2.2 2.2.2 2.2.2 2.1.2 2.1.3 2.1.3 2.1.3 2.1.3 2.1.3 2.1.3 2.1.3 2.1.3 2 .4 2 .4 2 .4 2 .4 2 .4 2 .4 1.9.4 1.9.4 1.9.4 1.9.5 1.9.5 1.9.5 1.8.5 1.8.5 1.8.5 1.8.5 1.8.5 1.7.5 1.7.5 1.7.5 1.7.6 1.6.6 1.6.6 1.6.6 1.6.6 1.5.6 1.5.6 1.5.6 1.5.6 1.4.6 1.4.6 1.4.6 1.4.6 1.3.6 1.3.6 1.3.6 1.2.6 1.2.7 1.2.7 1.2.7 1.1.7 1.1.7 1.1.7 1 .7 1 .7 1 .7.9.7.9.7.9.7.8.7.8.7.8.7.7.7.7.7.7.7.6.7.6.7.6.7.5.7.5.7.5.7.4.7.4.6.4.6.3.6.3.6.3.6.2.6.2.6.2.6.1.6.1.6.1.6V180.4l-.1.6-.1.6.9.5'); */
} 



/* img {
    position: absolute;
	top: 0;
	left: 0;
	offset-path: var(--path);
    animation: moveHead 5s infinite linear;
	width: 1.2rem;
	height: 1.2rem;
}

.path {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
}

@keyframes moveHead {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
} */



/***************************************************************
These styles are subject to the license agreement(s) provided when you purchased the license(s).

	https://store.typenetwork.com/cart/eula/type-network

***************************************************************/

/*
 * CSS for Urban Jungle DEMO
 * Generated by Wakamai Fondue - https://wakamaifondue.com
 * by Roel Nieskens/PixelAmbacht - https://pixelambacht.nl
 */

 @font-face {
    font-family: "Urban Jungle DEMO";
    src: url("/fonts/Urbanjungledemo-ymAm.otf");
    unicode-range: U+0020-0021, U+002C, U+002E, U+0030-003B, U+003F,
        U+0041-005A, U+0061-007A;
}

/*
 * CSS for Snow Kei
 * Generated by Wakamai Fondue - https://wakamaifondue.com
 * by Roel Nieskens/PixelAmbacht - https://pixelambacht.nl
 */

 @font-face {
    font-family: "Snow Kei";
    src: url("/fonts/SnowKei-RppOE.ttf");
    unicode-range: U+0000, U+001D, U+0020-007E, U+00A0-00FF, U+0131,
        U+0300-0304, U+0307-0308, U+030A, U+030C, U+0327, U+2013-2014,
        U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2039-203A, U+2044,
        U+20A3-20A4, U+20A7, U+20AC, U+2116, U+2122, U+2202, U+2206, U+220F,
        U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2264-2265,
        U+FB01-FB02;
}

/*
 * CSS for Amsterdam
 * Generated by Wakamai Fondue - https://wakamaifondue.com
 * by Roel Nieskens/PixelAmbacht - https://pixelambacht.nl
 */

 @font-face {
    font-family: "Inception";
    src: url("/fonts/Inception_free.ttf");
 }

 @font-face {
    font-family: "Amsterdam";
    src: url("/fonts/Amsterdam-ZVGqm.ttf");
    unicode-range: U+0000, U+000D, U+0020, U+0030-0039, U+0041-005A,
        U+005F-007A, U+00A8, U+00AF, U+00B4, U+00B7-00B8, U+00C0-00DD,
        U+00DF-00F6, U+00F8-00FD, U+00FF, U+0131, U+0141-0142, U+0152-0153,
        U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7, U+02D8-02DD,
        U+201A, U+201E, U+2030, U+20AC, U+FB01-FB02;
}

/*
 * CSS for TOP GUN
 * Generated by Wakamai Fondue - https://wakamaifondue.com
 * by Roel Nieskens/PixelAmbacht - https://pixelambacht.nl
 */

 @font-face {
    font-family: "topgun";
    src: url("fonts/TopGun-vmK0Z.ttf");
    unicode-range: U+0020, U+0026, U+0041-005A, U+0061-007A;
}

/* Set custom properties for each layout feature */
:root {
    --amsterdam-aalt: "aalt" off;
    --amsterdam-salt: "salt" off;
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.amsterdam-aalt {
    --amsterdam-aalt: "aalt" on;
}

.amsterdam-salt {
    --amsterdam-salt: "salt" on;
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.amsterdam-aalt,
.amsterdam-salt {
    font-feature-settings: var(--amsterdam-aalt), var(--amsterdam-salt);
}

 /* * CSS for HvDTrial PlutoSansLight
 * Generated by Wakamai Fondue - https://wakamaifondue.com
 * by Roel Nieskens/PixelAmbacht - https://pixelambacht.nl */
 

@font-face {
    font-family: "HvDTrial";
    src: url("/fonts/HvDTrial_PlutoSans-Light-BF648692ea282f8.otf");
    unicode-range: U+0020-0021, U+002C-002E, U+0030-0039, U+003F,
        U+0041-005A, U+0061-007A, U+00A0, U+00AD;
}

.bagatellevariable {
    font-family: "Bagatelle Variable";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.kōsetsuincised {
    font-family: "Kōsetsu Incised";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: "Bagatelle Variable";
    animation: infinite 10s title;
    font-size: 4em;
    display: flex;
    text-align: center;
    flex-direction: column;
}

@keyframes title {
    0% {
        font-variation-settings: "STCK" 1, "BLLS" 1;
        letter-spacing: normal;
    }
    50% {
        font-variation-settings: "STCK" 1000, "BLLS" 650;
        letter-spacing: 0.05em;
    }
    100% {
        font-variation-settings: "STCK" 1, "BLLS" 1;
        letter-spacing: normal;
    }
}

p {
    font-family: "HvDTrial";
    font-size: clamp(0.1em, 3cqi, 1em);
}

image {
    overflow: visible;
}

/* container SVG's */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 800px;
}

article {
    position: relative;
    z-index: 3;
    margin-left:3em;
    width: 55%;
    display:grid;
    /* gap: var(--grid-gap); */
    /* grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-size),50%), 1fr)); */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title"
    "summary"
    "objectiveTitle"
    "objective"
    "readmore";
    ;
    justify-items: center;
    text-align: center;
    container-type: inline-size;
    container-name: --dreams;
}

article div {
    align-items: center;
}

article p {
    grid-area: summary;
}

article p:nth-of-type(2) {
    grid-area: objective;
}

article button {
    grid-area: readmore;
    color: blue;
}

article svg {
    stroke: black;
    grid-area: 1 / 1 / 1 / 4;
    width: 20%;
    margin: 0;
}

article:nth-of-type(2) svg {
    grid-area: 2 / 3 / 2 / 4;
    width: 100%;
}

article h3 {
    grid-area: objectiveTitle;
    z-index: 3;
    font-family: "topgun";
    font-size: clamp(0.1em, 4cqi, 1.5em);
    margin: 0;
    text-align: start;
}

article:nth-of-type(2) h3 {
    font-family: "Urban Jungle DEMO";
    font-size: clamp(0.3em, 5cqi, 2em);
}

article:nth-of-type(3) h3 {
    font-family: "Amsterdam";
    font-size: clamp(0.1em, 4cqi, 1.5em);
}

article:nth-of-type(4) h3 {
    font-family: "Snow Kei";
    font-size: clamp(0.3em, 5cqi, 1.9em);
}

article:nth-of-type(5) h3 {
    font-family:  "Kōsetsu Incised";
    font-size: clamp(0.3em, 5cqi, 2em);
}

h2 {
    font-family: "Inception";
    grid-area: title;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.3em, 7cqi, 2em);
}



/* body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(241,252,255);
    background-image: linear-gradient(180deg, rgba(241,252,255,1) 0%, rgba(174,198,199,1) 50%, rgba(71,99,99,0.9990589985994398) 99%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* svg */
svg {
    position: absolute;
    z-index: 0;
    padding: 0 1em;
    fill: none;
    margin-top: 20vh;
    overflow: visible;
    height: max-content;
    transform: rotateY(3deg);
}

/* animatie lijn 1 */
svg g:nth-of-type(1) polyline {
    stroke: var(--colorLine);

    /* Stroke-dasharray property */
    stroke-dasharray: var(--stroke);
    stroke-dashoffset: var(--stroke);
    z-index: var(--Line);
}
svg g:nth-of-type(1) polyline:nth-of-type(2) {
    stroke: var(--colorHead);
    /* stroke:none; */
    /* stroke: url(#imagePattern); */
    stroke-linecap: round;
    stroke-dasharray: 0.1 var(--stroke);
    stroke-width: 1em;
    z-index: var(--Head);
}

/* animatie lijn 2 */
svg g:nth-of-type(2) polyline{
    stroke: var(--colorLineYusuf);


    /* Stroke-dasharray property */
    stroke-dasharray: var(--stroke);
    stroke-dashoffset: var(--stroke);
    transform: translateX(0.6em) translateY(-0.6em);
    z-index: var(--Line);
}

svg g:nth-of-type(2) polyline:nth-of-type(2) {
    stroke: var(--colorHeadYusuf);
    /* stroke: url(#imagePattern); */
    /* fill-rule: nonzero; */
    stroke-linecap: round;

    stroke-dasharray: 0.1 var(--stroke);
    stroke-width: 1em;
    z-index: var(--Head);
}

/* animatie lijn 3 */
svg g:nth-of-type(3) polyline {
    stroke: var(--colorLineArthur);

    /* Stroke-dasharray property */
    stroke-dasharray: var(--stroke);
    stroke-dashoffset:var(--stroke);
    transform: translateX(0.4em) translateY(-0.4em);
    z-index: var(--Line);
}

svg g:nth-of-type(3) polyline:nth-of-type(2) {
    stroke: var(--colorHeadArthur);
    stroke-linecap: round;

    /* Stroke-dasharray property */
    stroke-dasharray: 0.1 var(--stroke);
    stroke-width: 1em;
    z-index: var(--Head);
}

/* animatie lijn 4 */
svg g:nth-of-type(4) polyline {
    stroke: var(--colorLineEames);

    /* Stroke-dasharray property */
    stroke-dasharray: var(--stroke);
    stroke-dashoffset:var(--stroke);
    transform: translateX(0.2em) translateY(-0.2em);
    z-index: var(--Line);
}

svg g:nth-of-type(4) polyline:nth-of-type(2){
    stroke: var(--colorHeadEames);

    /* Stroke-dasharray property */
    stroke-dasharray: 0.1 var(--stroke);
    stroke-width: 1em;
    stroke-linecap: round;
    z-index: var(--Head);
}


:has(#Start:checked) polyline {
    animation: moving 40s linear forwards infinite; 
}

@keyframes moving {
    to {
        stroke-dashoffset: 0%;
    }
}

/* Popover */

:popover-open {
    background-image: url(/images/backgroundimage.jpeg);
    background-size:contain;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
    height: 70vh;
    width: 80vw;
    border: none;
}

#droom2:popover-open {
    background-image: url(/images/Inception-Arthur.avif);
}

:popover-open h3, :popover-open p {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}

:popover-open h3 {
    grid-area: 1 / 1 / 1 / 2;
    font-size: xx-large;
}

:popover-open p{
    grid-area: 2 / 2 / 3 / 3;
    backdrop-filter: blur(1px);

    &:nth-of-type(2){
        grid-area: 3 / 2 / 4 / 3;
    }

    &:nth-of-type(3){
        grid-area: 4 / 2 / 5 / 3;
    }

    &:nth-of-type(4){
        grid-area: 5 / 2 / 6 / 3;
    }
}

:popover-open::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* @media screen and (max-width: 550px) {
    article {
        text-align: center;
    }
    article p:nth-of-type(2) {
        grid-area: 4 / 1 / 4 / 2;
    }
    article button {
        grid-area: 5 / 1 / 5 / 2;
    }

} */


@container --dreams (inline-size > 15em) {
    article div:first-of-type{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto auto;
        grid-template-areas:
        "title title title"
        "summary summary summary"
        "objectiveTitle objective objective"
        ". readmore .";
    }
    article p {
        text-align: start;
    }
    article button {
        justify-self: center;
    }
}

@container --dreams (inline-size > 25em) {
    article div:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto auto;
        grid-template-areas:
        "title title title"
        "summary summary ."
        "objectiveTitle objective objective"
        ". readmore .";
        align-items: center;
    }
}